<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyanxiong.mapper.ItemsMapper">
    <select id="queryAllItems" resultType="com.sunyanxiong.po.ItemsCustom">
        select * from items
    </select>
</mapper>