<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_test:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_test_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SSM" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring_MVC" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SSM/web/Web" />
    </root>
  </artifact>
</component>